form{
  text-align: center;
}

label, input{
  width: 100%;
  margin:0.5em 0;
}

input[type='submit']{
  width: 100px;
}


input:nth-last-of-type(1){
  text-align: center;
  display: block;
  margin:auto;
  margin-bottom:0.5em;
}
