/*CLASES */
.color{
  color:white;
}
/*colocacion general de los elementos*/
/*header{
  height: 10em;
  padding-top:1em;
  background-color:var(--color2);
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
header h3{
  font: oblique bold 120% cursive;
  font-size:30px;
}

header nav  a{
text-decoration: none;
color: white ;
margin: 0 auto;
}
/*para colocar los enlaces al login ,perfil cerrar sesion*/
/*nav{
  display: flex;
  justify-content: flex-end;
  background-color: var(--colorCabeceras);
  padding: 1em;
  height: 3em;
}
nav  a{
  margin: 10px;
}*/

/*nav > div > a:hover{
  font-size: 1.2em;
}*/

/*header img{
  width:50%;
  height:50%;
}
header nav{
  border-radius: 4em;
}

header nav > ul{
 padding: 0;
 }
header nav > ul > li {
 display: inline;
 }
header nav > ul > li > a {
 font-family: Arial;
 font-size: 15px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: var(--color3);
 color: #fff;
 }

header nav ul li a:hover {
 background-color: var(--color4);
 margin-top: -2;
 padding-bottom: 12px;
 }

#logo{
  width:100px;
  height: 100px;
}*/
/***ARRIBA ES LO ANTERIOR***/

header{
  width:100%;
  background-color: var(--color2);
}
.navigation{
  width: 100%;
}
.navigation ul {
  margin:0;
  padding:0;
  list-style: none;
  display: none;
}
.navigation ul.show{
  display: flex;
  flex-direction: column;
}

.navigation ul li a {
  font-size: 25px;
  text-align: center;
  color:white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background-color: var(--color3);
}
.menu-icon{
  color:white;
  cursor:pointer;
  margin: 0 auto;
  width:100%;
  text-align: center;
}

#general{
  text-align: center;
}
#imagenMenu img{
  width: 100px;
  height: 120px;
}
#texto{
  text-align: center;
  color:white;
}

@media only screen and (min-width: 767px) {
  #general{
    padding-top: 50px;
  }
  .navigation{
    position:fixed;
    left:0;
    top:0;
    right: 0;
    background-color: var(--color2);
  }
  .menu-icon{
    display: none;
  }
  .navigation ul.show{
    flex-direction: inherit;
  }
  .navigation ul{
    width:100%;
    display: flex;
  }
  .navigation ul li{
    display:inline-block;
    margin: 0 auto;
  }
  .navigation ul li a{
    display: block;
    padding:0.5em 1em;
  }

}
