
/*CSS para el formulario de login */
div.centrar{
	border: 1px solid red;

}
form {
    width: 48%;
    height: 40%;
    padding-top: 5%;
		margin:0 auto;
		border: 1px solid red;
	
}

input{
	margin: 0 auto;
	
}

#registrate,#olvidadoContraseña{
	text-decoration: none;
	color: black;
	margin:0 auto;
}

.error{
	color:red;
}
