/*CSS para el formulario de login */

form {
	display: inline-block;
  text-align: center;
  width: 100%;
  height: 40%;
  padding-top: 5%;
	margin:0 auto;
}

input[type=text], input[type=password]{
	margin: 0 auto;
}

#registrate,#olvidadoContraseña{
	text-decoration: none;
	color: black;
	margin:0 auto;
}

 form a{
	text-align: center;
}

.error{
	color:red;
}
