.buscador{
  border-radius:25px;
  text-align: center;
  padding: 0.5em;
  margin:0.5em 0;
  background-color: var(--color2);
}

a{
  text-decoration: none;
  color:var(--colorTexto1);
}

.rutinas , .recetas{
  text-align: center;
}

.rutinas h1 , .recetas h1{
  background-color: var(--color3);
  color:white;
}
.rutina, .receta{
  border-bottom:solid 2px var(--color1);
  margin:0.5em 0;
}

.rutina:nth-last-of-type(1), .receta:nth-last-of-type(1){
  border-bottom:none;
}

img{
  width: 100%;
}

.negrita{
  font-weight: bold;
}

#vermasRecetas, #vermasRutinas{
  margin-bottom: 1em;

}
