/*CLASES */
.color{
  color:white;
}
/*colocacion general de los elementos*/
header{
  height: 10em;
  padding-top:1em;
  background-color:#1c1c1b/*var(--colorFondoHastag)*/;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
header h3{
  font: oblique bold 120% cursive;
  font-size:30px;
}

header nav  a{
text-decoration: none;
color: white ;
margin: 0 auto;
}
/*para colocar los enlaces al login ,perfil cerrar sesion*/
/*nav{
  display: flex;
  justify-content: flex-end;
  background-color: var(--colorCabeceras);
  padding: 1em;
  height: 3em;
}
nav  a{
  margin: 10px;
}*/

/*nav > div > a:hover{
  font-size: 1.2em;
}*/

header img{
  width:50%;
  height:50%;
}
header nav{
  border-radius: 4em;
}

header nav > ul{
 padding: 0;
 }
header nav > ul > li {
 display: inline;
 }
header nav > ul > li > a {
 font-family: Arial;
 font-size: 15px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: #2175bc;
 color: #fff;
 }

header nav ul li a:hover {
 background-color: #2586d7;
 margin-top: -2;
 padding-bottom: 12px;
 }

#logo{
  width:100px;
  height: 100px;
}
