:root{
  --color1: #18121E;
  --color2: #233237;
  --color3: #984B43;
  --color4: #EAC67A;

}
body{
  margin:0;
  padding:0;
  background-color: var(--color2);
}

.receta{
    border:var(--color2) 2px solid;
    margin-bottom: 1em;
    background-color: white;
}

.scroll {
  position: fixed;
  right: 40px;
  bottom: 160px;
  width: 50px;
  display: none;
  cursor: pointer;
}

.scroll:hover {
  background-color: var(--colorScroll);
}
.visible {
  display: block;
}


@media screen and (min-width: 40.5em) {
  .scroll {
      bottom: 10vh;
  }
}