:root{
  --color1: #18121E; /*Navy Blue*/
  --color2: #233237; /*Gun Metal*/
  --color3: #984B43; /*Rusty Red*/
  --color4: #EAC67A; /*Warm Yellow*/

}

body{
  margin:0;
  padding:0;
  /*background-color: var(--color2);*/
}
