.error{
  color:red;
}

label, input, textarea{
  width: 100%;
  margin:0.5em 0;
}
label{
  font-size: 1.2em;
}

input[type='submit']{
  width: 125px;
}


input:nth-last-of-type(1) , h1{
  text-align: center;
  display: block;
  margin:auto;
  margin-bottom:0.5em;
}
